@{
    ViewBag.Title = "Om";
}
<h2>@ViewBag.Message</h2>

<p>
    Pål er en flott type som ble født samme år som Hewlett-Packard presenterte sin første personlige datamaskin,
    Zimbabwe anerkjennes som egen republikk (selverklært selvstendig fra 1965, som Rhodesia) og samme år som
    Boligplattformen Alexander L. Kielland kantrer og 123 mennesker desverre mister livet. <br /><br />

    Andre spennende mennesker som er født i 1980 er bl.a Jenson Button (engelsk formel 1-fører), Veigar Páll Gunnarson (islandsk fotballspiller),
    Katrine og Kristine Lunde (norske håndballspillere), Steven Gerrard (engelsk fotballspiller), Gisele Bündchen (brasiliansk supermodell og skuespiller),
    Kristian Kjelling (norsk håndballspiller), John Arne Riise (norsk fotballspiller) og Christina Aguilera (amerikansk popsangerinne) <br /><br />

    Dette var også året der bl.a Harald Heide-Steen (norsk skuespiller), Bon Scott (australsk/skotsk musiker, sanger og frontfigur i rockebandet AC/DC),
    Jesse Owens (amerikansk friidrettsutøver), Alfred Hitchcock (britisk filmregissør), Peter Sellers (britisk skuespiller) og John Lennon(britisk musiker kjent fra The Beatles) 
    gikk bort.<br /><br />

    Pål er utdannet jernbinder og tok fagbrevet i 2003 og jobbet som jernbinder hos bl.a Byggmester Johnsen & sønn(2001-2003), Eide mur og flis(2005-2006) og
    Econor AS(2006-2011) med et lite "friår" som vekter hos Securitas avd Buskerud(2004-2005). Han måtte desverre avslutte karrieren som jernbinder pga en 
    lite samarbidsvillig rygg og bestemte seg for å studere på Høgskolen i Narvik som datastudent. Dette er noe han trives veldig med, selv om han til tider
    synes det er meget vanskelig :)
</p>
