@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Message</h2>

<address>
    <u>Adresse:</u><br />
    Midtre solligården 14<br />
    9020 Tromsdalen<br /><br />
    <u>Adresse under skolegang:</u><br />
    Fagernesskrenten 59<br />
    8514 Narvik<br /><br />
    <u>Studentnummer:</u><br />
    500738<br /><br />


    <abbr title="Telefonnummer"><u>Tlf:</u></abbr><br />
    977 95 389
</address>

<address>
    <strong><u>E-post:</u></strong>   <a href="mailto:Support@example.com"><br />pskogsru88@hotmail.com</a><br />
</address>